<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <button type="submit">Iniciar sesión</button>
</form>

</ion-content>
