<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="container">
        <div class="associate-info">
          <h3>Associate information</h3>
          <p>Jamil Enriquez</p>
          <p>VJX432JD</p>
        </div>
        <div class="divider"></div>
        <div class="device-info">
          <h3>Device information</h3>
          <p>VJX432JD432FSA</p>
        </div>
        <button type="submit">Authorize</button>
      </div>
    </ion-toolbar>
  </ion-header> </ion-content
>>
