
<ion-content>
  <div class="ion-text-center">
    <p style="color:black;font-weight:bold;">
      Scan Device
    </p>
  </div>
    <video #video [hidden]="!scanActive" width="100%"></video>
    <canvas #canvas hidden></canvas>
  <div class="ion-text-center">
    <p>
          {{ scanResult }}
    </p>
  </div>
</ion-content>
<!--
<ion-footer>
  <ion-toolbar>
    <ion-title>
    <ion-button expand="block" (click)="startScan()">Escanear código QR</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
-->
    <!--<ion-button expand="expand" (click)="startScan()">Escanear código QR</ion-button>-->

<!--<ion-footer>
  <ion-toolbar>
    <ion-title>-->
      <!--<div class="ion-text-center">-->
      <div style="display: flex; flex-direction: column; align-items: center;">
    <ion-icon (click)="startScan()"  ios="scan-circle-outline" style="font-size:80px;color:#B30016;">
    </ion-icon>
      <span style="text-align:center;margin-bottom:20px;color:#B30016">Scan</span>
    </div>
   <!--</ion-title>
  </ion-toolbar>
</ion-footer>
-->

